body{
    background-image:url(../imagenes/fondo\ felicitaciones.jpg);
    background-size:cover;
}
h1{
    text-align: center;
    font-family: sans-serif;
    color: #5ddf23;
    margin-top: 120px;
    font-size: 50px;

}
h2{
    text-align: center;
    font-family: sans-serif;

}
div{
    border: 2px solid whithe;
    backdrop-filter: blur(30px);
    width: 45%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 80px;
    border-radius: 30px;
    background-color: #5ddf23;
   
}
h3{
    text-align: center;
    font-family: sans-serif;
    color: white;
}
a {
    text-decoration: none;
}
.button {
  padding: 1rem 2rem;
  border-radius: 100px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  color: #f4f0ff;
  text-align: center;
  position: relative;
  cursor: pointer;
  
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  background: linear-gradient(
      180deg,
      rgba(8, 77, 126, 0) 0%,
      rgba(8, 77, 126, 0.42) 100%
    ),
    rgba(47, 255, 255, 0.24);
  box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
  z-index: -1;
}

.button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      180deg,
      rgba(8, 77, 126, 0) 0%,
      rgba(8, 77, 126, 0.42) 100%
    ),
    rgba(47, 255, 255, 0.24);
  box-shadow: inset 0 0 12px rgba(151, 200, 255, 0.44);
  border-radius: 100px;
  opacity: 0;
  z-index: -1;
  transition: all 0.3s ease-in;
}

.button:hover::after {
  opacity: 1;
}

.button-border {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  z-index: -1;
}

.button-border::before {
  content: "";
  position: absolute;
  border-radius: 100px;
  padding: 1px;
  inset: 0;
  background: linear-gradient(
      180deg,
      rgba(184, 238, 255, 0.24) 0%,
      rgba(184, 238, 255, 0) 100%
    ),
    linear-gradient(0deg, rgba(184, 238, 255, 0.32), rgba(184, 238, 255, 0.32));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}