
.contacto {
  background-image: url(../images/fondo\ contacto.jpg);
  background-size: cover;
}
h1{
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
}
ul {
  list-style: none;
   width: fit-content; 
  margin: 0 auto;
  padding: 0;
  margin-top: 300px;
}

.example-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder; 
  background-color:#5ddf23; 
  border-radius: 30px; 
  padding: 20px; 
  height: 70px;
  width: 300px;
  
}

.example-1 .icon-content {
  margin: 0 10px;
  position: relative;
  font-weight: bolder; 
}

.example-1 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff; 
  color:#5ddf23; 
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  font-family: sans-serif;
  transition: all 0.3s ease;
  font-weight: bolder; 
}

.example-1 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-1 .icon-content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff; 
  background-color:#5ddf23; 
  transition: all 0.3s ease-in-out;
  font-weight: bolder; 
}

.example-1 .icon-content .link:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-1 .icon-content .link svg {
  width: 30px;
  height: 30px;
  fill: #fff; 
}

.example-1 .icon-content .link[data-social="spotify"]:hover {
  color: #00a2ff;
}

.example-1 .icon-content .link[data-social="pinterest"]:hover {
  color: #ff009d;
}

.example-1 .icon-content .link[data-social="dribbble"]:hover {
  color: #686868;
}

.example-1 .icon-content .link[data-social="telegram"]:hover {
  color: #23b100;
}
