.eventos-y-curiosidades {
  background-image: url("../images/fondo-eventos-y-curiosidades.jpg");
}

h1 {
  color: white;
}

.contenedor-eventos-curiosidades {
  width: 100%;
  max-width: 1024px;
  margin: 60px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 200px;
}

.eventos-curiosidades {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.eventos-curiosidades-2 {
  position: relative;
  top: 50px;
}

.evento-curiosidad {
  width: 100%;
}

.evento-curiosidad-titulo {
  color: #00b5d0;
  font-size: 24px;
  font-weight: 500;
}

.evento-curiosidad-descripcion {
  font-size: 11px;
  margin-top: 5px;
  font-weight: 300;
}
