*{
    margin: 0;
    padding: 0;
    border-radius: 20px;
    
    
}

.fondoformulario{
    background-image: url(../images/fondo\ formulario.jpg);
    background-size: cover;
}
fieldset{
   display: flex;
   flex-direction: column;
}
.relleno,input{
     padding: 15px;
     font-family: sans-serif;
   
  
}
form{
    border: 2px solid whithe;
    backdrop-filter: invert(1);
    width: 45%;
    max-width: 800px;
    margin: 0 auto;
    font-size: 2rem;
    margin-top: 80px;
    
   
}


label,legend{
    color: black;
}
.grupo {
    display: flex !important;
    flex-direction: column !important;
    width: 100%;
    margin-bottom: 25px;
}

.grupo p {
    margin: 0 0 10px 0;
    font-size: 28px;
}

.grupo input {
    display: block !important;
    width: 350px;
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
}
   