.fondo-formulario {
  background-image: url("../images/fondo-formulario.jpg");
}
fieldset {
  display: flex;
  flex-direction: column;
}

.relleno {
  margin-bottom: 24px;
}
.relleno,
input {
  padding: 15px;
  font-family: "AloeveraDisplay", sans-serif;
}

textarea {
  font-family: "AloeveraDisplay", sans-serif;
  padding: 10px;
  border-radius: 20px;
}

form {
  border: 2px solid whithe;
  backdrop-filter: invert(1);
  width: 45%;
  max-width: 800px;
  margin: 0 auto;
  font-size: 2rem;
  margin-top: 80px;
}

label,
legend {
  color: black;
}
.grupo {
  display: flex !important;
  flex-direction: column !important;
  width: 100%;
  margin-bottom: 25px;
}

.grupo p {
  margin: 0 0 10px 0;
  font-size: 28px;
}

.formulario-contenedor-boton {
  display: flex;
  justify-content: end;
  padding: 10px 0px;
}

.formulario-boton {
  font-family: "AloeveraDisplay", sans-serif;
  width: 100px;
  height: 30px;
  background-color: #5ddf23;
  border: none;
  border-radius: 100px;
  font-weight: 500;
}
