.banner {
  width: 100%;
  height: 100vh;
  background: #dedede;
  background: linear-gradient(
    180deg,
    rgba(222, 222, 222, 1) 0%,
    rgba(0, 0, 0, 1) 75%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
}

.banner-info {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.banner-logo {
  width: 100%;
}

.banner-boton {
  font-size: 22px;
  color: white;
  text-decoration: none;
  font-weight: 600;
  padding: 6px 30px;
  border-radius: 100px;
  background-color: #00b5d0;
}

.banner-texto {
  text-align: center;
  margin-top: 30px;
}

.banner-imagen {
  width: 600px;
}
