@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Black.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Bold.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-ExtraBold.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-ExtraLight.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Light.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Medium.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Regular.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-SemiBold.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "AloeveraDisplay";
  src: url("../fonts/WOFF2/AloeveraDisplay-Thin.woff2") format("woff2"),
    url("../fonts/WOFF/AloeveraDisplay-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "AloeveraDisplay", sans-serif;
}

header {
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 0px;
}

nav {
  background: white;
  padding: 14px 30px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px 2px;
  -webkit-box-shadow: -1px 6px 11px 0px rgba(0, 0, 0, 0.19);
  box-shadow: -1px 6px 11px 0px rgba(0, 0, 0, 0.19);
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 11px;
  padding: 0px 8px;
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link-activo {
  font-size: 13px;
  font-weight: 400;
  background-image: url("../images/fondo-barra-de-navegacion.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.seccion {
  padding: 80px 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #00b5d0;
  text-align: center;
  font-weight: 500;
}

p {
  color: white;
  font-size: 14px;
  font-weight: 100;
}

footer {
  background-image: url("../images/fondo-contacto.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}

ul {
  list-style: none;
  width: fit-content;
  margin: 0 auto;
  padding: 0;
  margin-top: 300px;
}

.example-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  background-color: #5ddf23;
  border-radius: 30px;
  padding: 20px;
  height: 70px;
  width: 300px;
  margin: 0px;
}

.example-1 .icon-content {
  margin: 0 10px;
  position: relative;
  font-weight: bolder;
}

.example-1 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #5ddf23;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  font-family: sans-serif;
  transition: all 0.3s ease;
  font-weight: bolder;
}

.example-1 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}

.example-1 .icon-content .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  background-color: #5ddf23;
  transition: all 0.3s ease-in-out;
  font-weight: bolder;
}

.example-1 .icon-content .link:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}

.example-1 .icon-content .link svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

.example-1 .icon-content .link[data-social="spotify"]:hover {
  color: #00a2ff;
}

.example-1 .icon-content .link[data-social="pinterest"]:hover {
  color: #ff009d;
}

.example-1 .icon-content .link[data-social="dribbble"]:hover {
  color: #686868;
}

.example-1 .icon-content .link[data-social="telegram"]:hover {
  color: #23b100;
}
